.background {
  display: flex;
  min-height: 100vh;
  background: linear-gradient(to right, #001f3f 50%, #FF4500 50%);
  padding: 40px 30px;
  box-sizing: border-box;
}

.nav {
  display: flex;
  justify-content: flex-end;
  padding: 0px;
  color: #fff;
  margin-top: 15px; 
}

.navLink {
  margin: 0 10px;
  margin-top: -20px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  margin-top: -40px;
}

.contentContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 40px 30px; 
  position: relative;
}


.content {
  flex: 1;
  padding: 20px 20px 40px; 
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h3 {
  margin-top: 180px; 
  margin-left: 10px;
}

.homeImageContainer {
  position: relative;
  width: 100%;
  max-width: 400px; 
  margin-left: auto; 
  margin-right: 120px; 
  display: flex;
  align-items: center; 
  top: -250px; 
}

.homeImage {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px; 
}

.shadow {
  position: absolute;
  top: 50%;
  right: 0; 
  transform: translateY(-50%);
  width: calc(100% + 20px); 
  height: calc(100% + 20px); 
  background-color: rgba(0, 0, 0, 0.7); 
  border-radius: 10px; 
  z-index: -1;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5); 
}

.homeIntro {
  font-size: 36px;
  margin-bottom: 20px; 
  color: #000; 
  margin-top: 120px;
  margin-left: 30px;
}

.homeDescription {
  font-size: 16px;
  color: #000;
  display: block; 
  margin-top: 180px; 
  margin-left: 30px;
}

.homeIntro,
.homeDescription {
  position: absolute; 
  top: 0; 
  left: 0; 
}


.typing-animation::after {
  position: absolute; 
  bottom: 0; 
  left: 0; 
  display: inline-block;
  vertical-align: bottom;
  animation: typing 5s steps(40, end) forwards;
}

@keyframes typing {
  0% {
    width: 0; 
  }
  100% {
    width: 2px; 
  }
}

.hidden {
    display: none;
  }

.typing-animation {
  display: block; 
}

.typing-complete::after {
  display: none; 
}

.resumeButton {
  display: block;
  padding: 10px 20px;
  margin-top: 10px; 
  margin-left: 10px;
  text-decoration: none;
  background: #FFD700; 
  color: #000; 
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease, box-shadow 0.3s ease;
  margin-bottom: 10px;
}

.ctaButton {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 20px;
  text-decoration: none;
  background: #FF4500;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.contactSection {
  font-size: 14px; 
  margin-top: 20px; 
  margin-left: 10px;
}

.contactEmail {
  font-size: 12px; 
  margin-top: 5px; 
}

.footer {
  padding: 10px;
  text-align: center;
  background: #fff;
  position: absolute;
  bottom: 30px; 
  left: 50%;
  transform: translateX(-50%);
}

.socialButton {
  display: inline-block;
  padding: 1px; 
  margin: 0 5px; 
  text-decoration: none;
  background-size: cover;
  border-radius: 5px;
  cursor: pointer;
  border: 2px solid rgb(0, 0, 0); 
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.socialButton img {
  width: 20px; 
  height: 20px; 
}

.socialButton:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(255, 69, 0, 0.8); 
}

