@import url('https://fonts.googleapis.com/css2?family=Bigelow+Rules&family=Black+Ops+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap:wght@100&family=Bigelow+Rules&family=Black+Ops+One&display=swap');

.skillsImage {
  width: 20%; /* Increase the width of the image */
  height: auto;
  display: block;
  border-radius: 10px;
  position: absolute; 
  bottom: 20px; /* Adjust position if needed */
  left: 700px; /* Adjust position to keep it within the container */
  border: 2px solid black;
  box-sizing: border-box;
}

.skillsBackground {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to right, #001f3f 50%, #FF4500 50%);
  padding: 40px 30px;
  box-sizing: border-box;
}

.skillsNav {
  position: absolute; /* Position the nav absolutely */
  top: 20px; /* Adjust this value to move the nav higher/lower */
  right: 20px; /* Align the nav to the right side */
}

.skillsNav .navLink {
  margin: 0 10px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.skillsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
  max-width: 1100px; /* Increase the width of the container */
  width: 100%;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 30px; /* Increase padding if needed */
  position: relative; /* Ensure the image stays within the container */
}

.skillsSectionTitle,
.skillsSubtitle {
  font-family: 'Black Ops One', cursive;
  font-size: 36px;
  margin-bottom: 5px;
  margin-top: 5px;
  width: 100%;
  text-align: left;
}

.skillsContent {
  font-family: 'Asap', sans-serif;
  text-align: left;
}

.skillsList {
  list-style: disc;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: 40px;
}

.skillsList li {
  box-sizing: border-box;
  margin-bottom: 1px;
  padding-left: 0;
  margin-left: 0;
}

@media (min-width: 600px) {
  .skillsList li {
    width: 50%;
  }
}

@media (min-width: 800px) {
  .skillsList li {
    width: 33.33%;
  }
}